<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/project/finish" method="post">
        <div class="form-group">
            <label for="name">id</label>
            <input type="text" id="name" name="name" placeholder="ID를 입력하세요">
            <label for="name">비밀번호</label>
            <input type="text" id="pw" name="pw" placeholder="비밀번호를 입력하세요">
            <label for="name">이메일 주소</label>
            <input type="text" id="email" name="email" placeholder="이메일 주소를 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>